<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlistTest</key>
	<dict>
		<key>hz.module.controller.name</key>
		<string>HZPlistTestViewController</string>
		<key>hz.module.name</key>
		<string>PlistTest</string>
		<key>hz.module.sb.idf</key>
		<string>kPlistTestVcIdf</string>
		<key>hz.module.sb.name</key>
		<string>Main</string>
	</dict>
</dict>
</plist>
